<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3D Touch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9F26E6F1BC79CD5003DFC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F26E881BC79CD5003DFC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F26E931BC79CD5003DFC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
